<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Justinnn</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="profile" style="text-align:center">
        <img src="https://cdn.discordapp.com/avatars/570708109413187621/a_d42d8c35916c951703cef855afecc25a.gif?size=256">
      <h1>Justinn</h1>
      <p>Gamer by day/developer by night</p>
    </div>
    <div class="projects" style="text-align:center">
        <div class="hastebin"></div>
    </div>
    <div class="socials">

    </div>
</body>
</html>