<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/570708109413187621/a_d42d8c35916c951703cef855afecc25a.gif?size=256">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>Justinnn</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="profile" style="text-align:center">
        <img src="https://cdn.discordapp.com/avatars/570708109413187621/a_d42d8c35916c951703cef855afecc25a.gif?size=256">
      <h1>Justinn</h1>
      <p>Gamer by day/developer by night</p>
    </div>
    <div class="projects" style="text-align:center">
        <div class="hastebin">
            <a href="hastebin"><img src="https://bin.justinnn.dev/logo.png" alt="Hastebin Logo"></a>
            <h1>Hastebin</h1>
            <p>Upload your code, and share with other people so they can help you with any problems!</p>
        </div>
        <div class="mcbuilds">
            <img src="img/minecraft.png" alt="Minecraft Logo">
            <h1>MCBuild Announcer</h1>
            <p>Announce new minecraft builds/jars to know that you can update your server!</p>
        </div>
        <div class="comingsoon">
            <img src="img/comingsoon.png" alt="Coming Soon">
            <h1>soon</h1>
            <p>soon</p>
        </div>
    </div>
    <div class="socials">
        <div class="instagram">
            <i class="fab fa-instagram"></i>
        </div>
        <div class="twitter">
            <i class="fab fa-twitter"></i>
        </div>
        <div class="tiktok">
            <i class="fab fa-tiktok"></i>
        </div>
        <div class="github">
            <i class="fab fa-github"></i>
        </div>
        <div class="youtube">
            <i class="fab fa-youtube"></i>
        </div>
    </div>
</body>
</html>