@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	font-family: 'Karla', sans-serif;
}

h1, p {
	color: whitesmoke;
}

/* 
	PROFILE
*/
.profile img {
	margin-top: 30px;
    border-radius: 150%; 
    width: 128px;
    height: 128px;
}

.profile h1 {
	color: black;
}

.profile p {
	color: black;
}


/*
	PROJECTS
*/

.projects {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-preferred-size: 100px;
	    flex-basis: 100px;
	padding: 20px 0 20px 0;
}

.projects img {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	margin-bottom: 7px;
}

.projects img:hover {
	-webkit-transform:scale(1.1);
	    -ms-transform:scale(1.1);
	        transform:scale(1.1);
}

.hastebin img {
	width: 192px;
	height: 192px;
}

.mcbuilds img {
	width: 192px;
	height: 192px;
}

.celendi img {
	width: 192px;
	height: 192px;
}

/*
	SOCIALS
*/

.icons {
	font-size: xxx-large;
}

.icons a {
	text-decoration: none;
	color: white;
}