@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e4c369;
    font-family: 'Unbounded', cursive;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar active {
    color: #999;
}
.navbar a {
    font-weight: 700;
    color: #000;
}

.navbar a:hover {
    color: #444;
}

/* TEXT-BOX */
.text-box {
    margin-top: 305px;
    max-width: 600px;

}

.text-box h1 {
    font-size: 45px;
    margin-bottom: 20px;
    color: #000;
}

.text-box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: darkviolet;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 6px;
}

/* USER-BOX */
.user-box {
    position: absolute;
    top: 0;
    right: 12%;
    
}
.user-box img {
    display: block;
    padding-top: 305px;
    width: 410px;
    margin-bottom: -205px;
}