@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e4c369;
    font-family: 'Unbounded', cursive;
    margin: 0;
    padding: 0;
}

.navbar active {
    color: #999;
}
.navbar a {
    font-weight: 700;
    color: #000;
}

.navbar a:hover {
    color: #444;
}