@font-face {
    font-family: whitneyBold;
    src: url(./fonts/whitneybold.otf);
}

@font-face {
    font-family: whitneyBook;
    src: url(./fonts/whitneybook.otf);
}

@font-face {
    font-family: whitneyBookItalic;
    src: url(./fonts/whitneybookitalic.otf);
}

@font-face {
    font-family: whitneyLight;
    src: url(./fonts/whitneylight.otf);
}

@font-face {
    font-family: whitneyLightItalic;
    src: url(./fonts/whitneylightitalic.otf);
}

@font-face {
    font-family: whitneyMedium;
    src: url(./fonts/whitneymedium.otf);
}

@font-face {
    font-family: whitneyMediumItalic;
    src: url(./fonts/whitneymediumitalic.otf);
}

@font-face {
    font-family: whitneySemibold;
    src: url(./fonts/whitneysemibold.otf);
}

@font-face {
    font-family: whitneySemiboldItalic;
    src: url(./fonts/WhitneySemiboldItalic.otf);
}

body {
    scroll-behavior: smooth;
}

.text-whitneybold {
    font-family: whitneyBold;
}

.fa-circle-chevron-down {
    position: absolute;
    top: calc(100vh - 70px);
    left: calc(50% - 14px);
    animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }