---
import Head from "../layout/Head.astro";
import MainLayout from "../layout/MainLayout.astro";
---
<Head title="Woopsies" />
<MainLayout>
    <div class="flex flex-col items-center justify-center gap-12 px-5 py-16">
        <h1 class="text-6xl font-bold tracking-tight text-white sm:text-[9rem] text-center">
          4<span class="text-[hsl(280,100%,70%)]">0</span>4
        </h1>
        <h2 class="text-6xl font-semibold tracking-tight text-white sm:text-[1rem] text-center">
            Looks like an error occured, please go back the main site using the button below.
        </h2>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"><a href="/">Go back</a></button>
    </div>
</MainLayout>