---
import Head from "../layout/Head.astro";
import ContactLayout from "../layout/ContactLayout.astro";
---

<Head title="Justinnn - Contact Me" />
<ContactLayout>
	<div class="navbar items-center flex justify-center sticky py-2">
		<a href="/" class="nav-text font-semibold uppercase">Home</a>
		<a href="/projects" class="nav-text font-semibold uppercase">Projects</a>
		<a href="/contact" class="nav-text font-semibold uppercase">Contact Me</a>
	</div>
    <div class="wrapper flex min-h-screen flex-col items-center justify-center bg-gray-800 ">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-[4rem] text-center py-6 px-7">
            <span>Contact Me</span>
          </h1>
        <h3 class="text-medium font-small tracking-tight text-slate-400 sm:text-[22.5px] text-center max-w-xl">
            <p>Looks like you've landed on the last page from my website. The contact page! How can't I forget that.
                <br><br>I'm always open for helping with projects or other thing related. Just smack the button down below
                to send me a mail. <b>(The button would redirect you to your mail software.)</b>
            </p><br>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"><a href="mailto:hello@justinnn.dev">Send me an mail</a></button>
        </h3>
    </div>
</ContactLayout>