---
import Head from "../layout/Head.astro";
import ProjectLayout from "../layout/ProjectLayout.astro";
---

<Head title="Justinnn - Projects" />
<ProjectLayout>
	<div class="navbar items-center flex justify-center sticky py-2">
		<a href="/" class="nav-text font-semibold uppercase">Home</a>
		<a href="/projects" class="nav-text font-semibold uppercase">Projects</a>
		<a href="/contact" class="nav-text font-semibold uppercase">Contact Me</a>
	</div>
	<div class="card-container">
	  <div class="card">
		<img src="https://via.placeholder.com/100x60.png?text=Image+1" alt="Card Image">
		<div class="card-content">
		  <h2>Card Title</h2>
		  <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae eros ut urna commodo suscipit.</p>
		  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">View Details</button>
		</div>
	  </div>
	  <div class="card">
		<img src="https://via.placeholder.com/100x60.png?text=Image+2" alt="Card Image">
		<div class="card-content">
		  <h2>Card Title</h2>
		  <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae eros ut urna commodo suscipit.</p>
		  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">View Details</button>
		</div>
	  </div>
	  <div class="card">
		<img src="https://via.placeholder.com/100x60.png?text=Image+3" alt="Card Image">
		<div class="card-content">
		  <h2>Card Title</h2>
		  <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae eros ut urna commodo suscipit.</p>
		  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">View Details</button>
		</div>
	  </div>
	  <div class="card">
		<img src="https://via.placeholder.com/100x60.png?text=Image+4" alt="Card Image">
		<div class="card-content">
		  <h2>Card Title</h2>
		  <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae eros ut urna commodo suscipit.</p>
		  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">View Details</button>
		</div>
	  </div>
	</div>
	<div class="flex flex-row gap-8 items-center justify-center py-7">
		<h3 class="text-small font-small tracking-tight text-slate-400 sm:text-[22.5px] text-center">
			<p>I'll try my best to update this monthly with new projects / existings projects.</p>
			<br>
		</h3>
	</div>
</ProjectLayout>