---
import Head from "../layout/Head.astro";
import ProjectLayout from "../layout/ProjectLayout.astro";
---

<Head title="Justinnn - Projects" />
<ProjectLayout>
	<div class="navbar items-center flex justify-center sticky py-2">
		<a href="/" class="nav-text font-semibold uppercase">Home</a>
		<a href="/projects" class="nav-text font-semibold uppercase">Projects</a>
		<a href="/contact" class="nav-text font-semibold uppercase">Contact Me</a>
	</div>
	<div class="flex justify-center items-center h-screen">
		<div class="flex flex-wrap justify-center md:justify-between -mx-2">
		  <div class="w-full md:w-5/12 xl:w-5/12 px-2 mb-8">
			<div class="bg-white shadow-lg rounded-lg overflow-hidden">
			  <div class="bg-cover bg-center h-56 p-4" style="background-image: url('/images/project1.png');"></div>
			  <div class="p-4">
				<h3 class="font-bold text-xl mb-2">Project 1</h3>
				<p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur ac massa sed ultrices.</p>
				<div class="flex justify-between mt-4">
				  <span class="text-sm font-medium text-gray-600">Technologies:</span>
				  <span class="text-sm font-medium text-gray-900">HTML, CSS, JavaScript</span>
				</div>
				<div class="mt-4">
				  <a href="#" class="inline-block bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">View Project</a>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="w-full md:w-5/12 xl:w-5/12 px-2 mb-8">
			<div class="bg-white shadow-lg rounded-lg overflow-hidden">
			  <div class="bg-cover bg-center h-56 p-4" style="background-image: url('/images/project2.png');"></div>
			  <div class="p-4">
				<h3 class="font-bold text-xl mb-2">Project 2</h3>
				<p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consectetur ac massa sed ultrices.</p>
				<div class="flex justify-between mt-4">
				  <span class="text-sm font-medium text-gray-600">Technologies:</span>
				  <span class="text-sm font-medium text-gray-900">React, Redux, Node.js</span>
				</div>
				<div class="mt-4">
				  <a href="#" class="inline-block bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">View Project</a>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	</div>
	<div class="flex flex-row gap-8 items-center justify-center py-7">
		<h3 class="text-small font-small tracking-tight text-slate-400 sm:text-[22.5px] text-center">
			<p>I'll try my best to update this monthly with new projects / existings projects.</p>
			<br>
		</h3>
	</div>
</ProjectLayout>

<style>
	body {
		background-color: #1e2936;
	}
</style>