---
import Head from "../layout/Head.astro";
import ProjectLayout from "../layout/ProjectLayout.astro";
---

<Head title="Justinnn - Projects" />
<ProjectLayout>
	<div class="navbar items-center sticky">
		<a href="/projects" class="nav-text font-semibold uppercase" style="border-bottom: 3.9px solid rgb(74, 247, 126); margin-bottom: 2px;">Projects</a>
		<a href="/contact" class="nav-text font-semibold uppercase">Contact Me</a>
	</div>
</ProjectLayout>