---
import Head from "../layout/Head.astro";
import ProjectLayout from "../layout/ProjectLayout.astro";
---

<Head title="Justinnn - Projects" />
<ProjectLayout>
	<div class="navbar items-center flex justify-center sticky py-2">
		<a href="/" class="nav-text font-semibold uppercase">Home</a>
		<a href="/projects" class="nav-text font-semibold uppercase">Projects</a>
		<a href="/contact" class="nav-text font-semibold uppercase">Contact Me</a>
	</div>
	<div class="container mx-auto py-6">
		<div class="flex flex-wrap -mx-4 sm:flex-row">
		  <div class="w-full sm:w-1/2 md:w-1/4 p-4">
			<div class="bg-white rounded-lg shadow-lg overflow-hidden">
			  <img class="h-40 w-full object-cover object-center" src="https://via.placeholder.com/200x150" alt="Card image">
			  <div class="p-4">
				<h2 class="text-lg font-bold mb-2 text-center">Card Title 1</h2>
				<p class="text-gray-700 text-base text-center">Card Description 1</p>
			  </div>
			</div>
		  </div>
		  <div class="w-full sm:w-1/2 md:w-1/4 p-4">
			<div class="bg-white rounded-lg shadow-lg overflow-hidden">
			  <img class="h-40 w-full object-cover object-center" src="https://via.placeholder.com/200x150" alt="Card image">
			  <div class="p-4">
				<h2 class="text-lg font-bold mb-2 text-center">Card Title 2</h2>
				<p class="text-gray-700 text-base text-center">Card Description 2</p>
			  </div>
			</div>
		  </div>
		  <div class="w-full sm:w-1/2 md:w-1/4 p-4">
			<div class="bg-white rounded-lg shadow-lg overflow-hidden">
			  <img class="h-40 w-full object-cover object-center" src="https://via.placeholder.com/200x150" alt="Card image">
			  <div class="p-4">
				<h2 class="text-lg font-bold mb-2 text-center">Card Title 3</h2>
				<p class="text-gray-700 text-base text-center">Card Description 3</p>
			  </div>
			</div>
		  </div>
		  <div class="w-full sm:w-1/2 md:w-1/4 p-4">
			<div class="bg-white rounded-lg shadow-lg overflow-hidden">
			  <img class="h-40 w-full object-cover object-center" src="https://via.placeholder.com/200x150" alt="Card image">
			  <div class="p-4">
				<h2 class="text-lg font-bold mb-2 text-center">Card Title 4</h2>
				<p class="text-gray-700 text-base text-center">Card Description 4</p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	<div class="flex flex-row gap-8 items-center justify-center py-7">
		<h3 class="text-small font-small tracking-tight text-slate-400 sm:text-[22.5px] text-center">
			<p>I'll try my best to update this monthly with new projects / existings projects.</p>
			<br>
		</h3>
	</div>
</ProjectLayout>

<style>
	body {
		background-color: #1e2936;
	}
</style>