---
import Head from "../layout/Head.astro";
import ProjectLayout from "../layout/ProjectLayout.astro";
---

<Head title="Justinnn - Projects" />
<ProjectLayout>
	<div class="navbar items-center flex justify-center sticky py-2">
		<a href="/" class="nav-text font-semibold uppercase">Home</a>
		<a href="/projects" class="nav-text font-semibold uppercase">Projects</a>
		<a href="/contact" class="nav-text font-semibold uppercase">Contact Me</a>
	</div>
	<div class="flex flex-wrap justify-center">
		<div class="max-w-xs rounded overflow-hidden shadow-lg m-4 md:w-1/3">
		  <img class="w-full" src="https://via.placeholder.com/300x200" alt="Placeholder image">
		  <div class="px-6 py-4">
			<div class="font-bold text-xl mb-2">Card Title</div>
			<p class="text-gray-700 text-base">Card description goes here.</p>
		  </div>
		  <div class="px-6 py-4">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Button</button>
		  </div>
		</div>
		<div class="max-w-xs rounded overflow-hidden shadow-lg m-4 md:w-1/3">
		  <img class="w-full" src="https://via.placeholder.com/300x200" alt="Placeholder image">
		  <div class="px-6 py-4">
			<div class="font-bold text-xl mb-2">Card Title</div>
			<p class="text-gray-700 text-base">Card description goes here.</p>
		  </div>
		  <div class="px-6 py-4">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Button</button>
		  </div>
		</div>
		<div class="max-w-xs rounded overflow-hidden shadow-lg m-4 md:w-1/3">
		  <img class="w-full" src="https://via.placeholder.com/300x200" alt="Placeholder image">
		  <div class="px-6 py-4">
			<div class="font-bold text-xl mb-2">Card Title</div>
			<p class="text-gray-700 text-base">Card description goes here.</p>
		  </div>
		  <div class="px-6 py-4">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Button</button>
		  </div>
		</div>
		<div class="max-w-xs rounded overflow-hidden shadow-lg m-4 md:w-1/3">
		  <img class="w-full" src="https://via.placeholder.com/300x200" alt="Placeholder image">
		  <div class="px-6 py-4">
			<div class="font-bold text-xl mb-2">Card Title</div>
			<p class="text-gray-700 text-base">Card description goes here.</p>
		  </div>
		  <div class="px-6 py-4">
			<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Button</button>
		  </div>
		</div>
	  </div>
	<div class="flex flex-row gap-8 items-center justify-center py-7">
		<h3 class="text-small font-small tracking-tight text-slate-400 sm:text-[22.5px] text-center">
			<p>I'll try my best to update this monthly with new projects / existings projects.</p>
			<br>
		</h3>
	</div>
</ProjectLayout>

<style>
	body {
		background-color: #1e2936;
	}
</style>