@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* ==== Scrollbar ==== */
::-webkit-scrollbar {
    width: 7.5px
}

::-webkit-scrollbar-track {
    background: #1f2836;
}

::-webkit-scrollbar-thumb {
    background: #313953;
    border-radius: 5px
}

.nav-text {
    color: gainsboro;
    font-size: 16.4px;
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 5px;
    position: relative;
}

.nav-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3.9px;
    width: 0;
    border-bottom: 3.9px solid transparent;
    transition: width 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav-text:hover::after {
    width: 100%;
    border-color: rgb(131, 22, 158);
}

#hover-icon {
    color: #fff;
    transition: color 0.3s ease-out;
}

#hover-icon:hover {
    color: purple;
}