@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-text {
    color: gainsboro;
    font-size: 16.4px;
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 5px;
}

.nav-text:hover {
    border-bottom: 3.9px solid rgb(93, 255, 247);
    margin-bottom: 2px;
}

.nav-text:active {
    border-bottom: 3.9px solid rgb(74, 247, 126);
    margin-bottom: 2px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

#hover-icon {
    color: #000;
}

#hover-icon:hover {
    color: #838282;
}