---
const { title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  <script src="https://kit.fontawesome.com/d8c5b375b3.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
</head>